---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    {% if post.tab == 'second' %}
      <article class="post">

      <h1><a href="{{ site.baseurl }}\passion_project{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}\passion_project{{ post.url }}" class="read-more">Read More</a>
      </article>
  
    {% else %}
      <article class="post">

      <h1><a href="{{ site.baseurl }}\academic_project{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}\academic_poject{{ post.url }}" class="read-more">Read More</a>
      </article>
    
    {% endif %}
  {% endfor %}
</div>
